<!DOCTYPE html>
<html   lang="pt"
        xmlns:th="http://thymeleaf.org">
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--<link rel="stylesheet" href="style/styleCss.css"/>-->
<body>

<header>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1" style="font-weight: bold;">MyCodeBlog</span>
    </nav>
</header>

<main>
    <div class="container" style="width: 60%;">

        <nav>
            <ol class="breadcrumb" style="background-color: white; padding-left: 0px">
                <li class="breadcrumb-item" aria-current="page"><a href="/posts">Posts</a></li>
                <li class="breadcrumb-item active" aria-current="page">Post</li>
            </ol>
        </nav>

      <article>
          <h1 class="card-title" style="font-weight: bold; margin-bottom: 20px;"><span th:text="${title}"></span></h1>

          <p class="card-subtitle mb-2 text-muted">
              <i class="material-icons">person_outline</i>
              <span th:text="${author}"></span>
              <br>
              <i class="material-icons">date_range</i>
              <span th:text="${datePost}"></span>

          </p>

          <section>
              <p class="card-text" style="margin-top: 40px;"><span th:utext="${textPost}"></span></p>
          </section>

      </article>




    </div>
</main>
</body>
</html>